html,
body {
  height: 100%;
}
body {
  background: linear-gradient(
    to bottom,
    rgba(154, 22, 99, 1) 22%,
    rgba(255, 88, 88, 1) 56%,
    rgba(255, 151, 193, 1) 100%
  );
}

#title {
  text-align: center;
  font-size: 60px;
  color: white;
}
.pointer{
  margin: auto;
  width: 32px;
  height: 32px;
  min-height: 32px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.video-menu {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: black;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.overlay p {
  font-size: 0.8rem;
}

/* Estilo del iframe */
#ytplayer {
  border: none; /* Elimina el borde del iframe */
  border-radius: 20px; /* Agrega esquinas redondeadas al iframe */
  box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Agrega una sombra al iframe */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.imagen_blanco_bueno {
  /* Agrega tus estilos personalizados aquí */
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

button {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 12px 24px; /* Espacio interno */
  text-align: center; /* Centrado del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque */
  font-size: 16px; /* Tamaño de letra */
  margin: 4px 2px; /* Espacio entre botones */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  border-radius: 4px; /* Bordes redondeados */
}

button:hover {
  background-color: #3e8e41; /* Cambiar el color de fondo al pasar el ratón */
}

button:active {
  background-color: #3e8e41; /* Cambiar el color de fondo al hacer clic */
  box-shadow: 0 5px #666; /* Agregar una sombra al hacer clic */
  transform: translateY(4px); /* Mover el botón hacia abajo al hacer clic */
}