html,
body {
  height: 100%;
}
body {
  background: linear-gradient(
    to bottom,
    rgba(154, 22, 99, 1) 22%,
    rgba(255, 88, 88, 1) 56%,
    rgba(255, 151, 193, 1) 100%
  );
}

#title {
  text-align: center;
  font-size: 60px;
  color: white;
}