body {
    background: linear-gradient(
    to bottom,
    rgba(154, 22, 99, 1) 22%,
    rgba(255, 88, 88, 1) 56%,
    rgba(255, 151, 193, 1)
  );
}
#logo {
    text-align: center;
    font-size: 60px;
    color: white;
  }
  
  .menu {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 20px;
  }
  
  .menu button {
    display: block;
    width: 1000px;
    padding: 50px;
    font-size: 45px;
    transition: all 0.3s ease-in-out;
  }
  
  .menu button:hover {
    background-color: #ffddcc;
    color: #ffffff;
  }
  
  .pointer{
    margin: auto;
    width: 32px;
    height: 32px;
    min-height: 32px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    pointer-events:None;
  }

  #qrcode {
    margin-left: 33%;
    height: 80%;
  }